<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}"/>
    <title></title>
</head>



<body>
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <h1 th:text="${title}"></h1>
    <ul>

        <!--/*@thymesVar id="items" type="java.util.List<cz.o2.eshop.dto.ItemDto>"*/-->
        <li th:each="item : ${items}">
            <span th:text="${item.name}"></span>
        </li>
    </ul>

    <script th:inline="javascript">
        var items = /*[[${items}]]*/ [];
    </script>

</body>
</html>